.input-wr {
    border: 1px solid var(--text-dark);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    width: 240px;
    height: 40px;
    margin: 15px auto;
    gap: 10px;

    input {
        border: none;
        background: transparent;

        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    .input-icon img {
        width: 12px;
        height: auto;
        opacity: 0.7;
    }
}