.wrapper-page {
    background: var(--bg-gradient);
    padding-top: 1px;
    
    .logo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: var(--bg-circle);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 2.5rem auto;
    
        h1 {
            font-size: 2.7rem;
            line-height: 0;
            color: var(--bg-primary);
        }
    
        span {
            line-height: 0.4;
            margin-right: 3.75rem;
            color: var(--bg-primary);
        }
    
        .info {
            img {
                width: 20px;
                height: 20px;
                filter: brightness(0) invert(1);
            }
        
            border: none;
            background: transparent;
            position: absolute;
            top: -20px;
            right: -20px;
            cursor: pointer;
        }
    }
    
    .panel {
        background: var(--bg-primary);
        padding: 10px;
        border-radius: 30px 30px 0 0;
        padding: 20px 0;
    }
    
    .or {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
