.about-header {
    background: var(--bg-gradient);
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 0 0 20px 20px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: #fff;
        border-radius: 0 0 20px 20px;
        z-index: 1;
    }

    .--circle {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: var(--bg-circle);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin: -90px auto 0;
    }

    h2, h4, span {
        color: var(--text-white);
        width: 100%;
        display: block;
        text-align: center;
        margin: 5px 0;
        z-index: 100;
        position: relative;
    }

    h2 {
        margin-top: 50px;
        font-size: 2.5rem;
    }

    h4 {
        line-height: 0;
        margin-right: 100px;
        text-transform: uppercase;
    }

    span {
        position: absolute;
        top: 70px;
        left: 200px;
        font-size: 1.5rem;
    }
}