.wrapper-page {
    background: var(--bg-primary);

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: var(--bg-gradient);
        color: var(--bg-primary);
        border-radius: 0 0 30px 30px;
        

        h2 {
            margin-top: 4rem;
            font-size: 2rem;
        }

        span {
            font-size: 1.2rem;
            margin-bottom: 4rem;
        }
    }
    
    .panel {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .panel app-button:last-child {
        margin-top: 2rem;
      }
}

